@use "_globals.scss";
@import "_mixins.scss";
@import "_variables.scss";

.cart {
	&__banner {
		position: relative;
		width: 100vw;
		&__background {
			position: relative;
			width: 100vw;
		}
		&__name-wrapper {
			position: absolute;
			top: 50%;
			bottom: 50%;
			left: 50%;
			right: 50%;
		}
	}
}
