@use "_globals.scss";
@import "_variables.scss";
@import "_mixins.scss";

.wrapper {
	z-index: 10;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	top: 0;
	display: flex;
	@include center-elements;
	background-color: $modalWrapper;
	opacity: 0.5;
	&__container {
		z-index: 11;
		display: flex;
		flex-direction: column;
		opacity: 1;
		width: 500px;
		height: 500px;
		background-color: #fff;
	}
}
