//Fonts
$headerFonts: "Roboto", sans-serif;
$preHeadingFonts: "Yellowtail", cursive;
$headingFonts: "Roboto", sans-serif;
$paragraphFonts: "Open Sans", sans-serif;

//Colors
$headerTextClr: #274c5b;
$searchInputClr: #fafafa;
$preheadingClr: #68a47f;
$headingClr: #274c5b;
$aboutUsSectionClr: #f9f8f8;
$offerSectionClr: #274c5b;
$ecoFriendlyCardClr: #fff;
$gallerySectionClr: #f1f8f4;
$dateClr: #fff;
$newsSectionCardClr: #fff;
$headerClr: #fff;
$mainClr: #fff;
$footerClr: #fff;
$cartClr: #fdb02d29;
$formClr: #fdb02d29;
$outerCircleClr: #7eb693;
$modalWrapper: #fff;
$hoverClr: #EFD372;
