//Fonts
$headerFonts: "Roboto", sans-serif;
$preHeadingFonts: "Yellowtail", cursive;
$headingFonts: "Roboto", sans-serif;
$paragraphFonts: "Open Sans", sans-serif;

//Colors
$headerTextClr: #274c5b;
$searchInputClr: #fafafa;
$preheadingClr: #68a47f;
$headingClr: #274c5b;
$aboutUsSectionClr: #f9f8f8;
