@use "_globals.scss";
@import "_mixins.scss";
@import "_variables.scss";

.catalog {
	display: flex;
	flex-direction: column;
	&__product-container {
		display: flex;
		padding: 3.5em;
		flex-wrap: wrap;
		@include center-elements;
	}
	&__btns-container {
		display: flex;
		@include center-elements;
		@include margin-btn;
	}
}
