@use "_globals.scss";
@import "_mixins.scss";
@import "_variables.scss";

.confirmation {
	margin-top: 9%;
	display: flex;
	flex-direction: column;
	@include center-elements;
	&__banner {
		width: 100vw;
		&_img {
			width: 100vw;
		}
	}
}
